/* 
Custom Media Queries
-p queries are breakpoints + standard gutter
*/

@custom-media --small-screen (width >= 480px);
/*@custom-media --small-screen-p (width >= 480px);*/
@custom-media --medium-screen (width >= 960px);
@custom-media --medium-screen-p (width >= 1110px);
@custom-media --large-screen (width >= 1140px);
@custom-media --large-screen-p (width >= 1190px);
@custom-media --xlarge-screen (width >= 1440px);
@custom-media --xlarge-screen-p (width >= 1490px);

/* Global Vars */
:root {
  --small-screen: 480px;
  --medium-screen: 960px;
  --large-screen: 1140px;
  --large-screen-p: 1190px;
  --xlarge-screen: 1440px;

  /* Typography */
  --primary-font: 'brandon-grotesque', 'Futura', 'Trebuchet MS',
    'Helvetica-Neue', Helvetica, Arial;
  --secondary-font: 'JustLovely', 'Brush Script MT', cursive;

  --gutter-width: 30px;

  /* Colors */
  --black: #000;
  --white: #fff;

  --blue: #243570;
  --denim: #424656;
  --gray: #686b78;
  --light-gray: #f3ebf1;
  --orange: #ef4323;
  --magenta: #e91976;
  --teal: #1bbfdd;
  --lavender: #8887de;
  --tan: #f3ebf1;

  --light-yellow: #f5f2b2;
  --light-lavender: #d4d2ec;
  --light-teal: #baecf5;
  --light-magenta: #ffc5d3;

  /* Font Colors */
  --base-background-color: var(--white);
  --base-font-color: var(--gray);
  --primary-color: var(--blue);
}
