.ui {
  padding-top: 80px;
}

.ui__heading {
  background-color: $black;
  color: $white;
  font-family: $heading-font-family;
  font-size: 34px;
  font-weight: 400;
  line-height: 50px;
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
}

.ui__spacer {
  height: 80px;
}
