{% set mobileImage = block.image.mobile.first() %}
{% set desktopImage = block.image.desktop.first() %}
{% set videoWebm = block.video.webm.first() %}
{% set videoMp4 = block.video.mp4.first() %}
{% set videoOgg = block.video.ogg.first() %}

<section class="masthead">
  <div class="masthead__lampshade"></div>
  {% if mobileImage and desktopImage %}
    <picture>
      <source srcset="{{desktopImage.url}}" media="(min-width: 1024px)">
      <source srcset="{{mobileImage.url}}" media="(min-width: 960px)">
      <img class="masthead__image" srcset="{{mobileImage.url}}">
    </picture>
  {% endif %}
  {% if videoWebm or videoMp4 or videoOgg %}
  <video class="masthead__video" muted autoplay loop poster="{{desktopImage.url}}">
    <source src="/-/media/sites/camelbak/stories/videos/dane_petersen_webm.ashx" type="video/webm">
    {% if videoWebm %}
    <source src="{{videoWebm.getUrl()}}" type="video/webm">
    {% endif %}
    {% if videoMp4 %}
    <source src="{{videoMp4.getUrl()}}" type="video/mp4">
    {% endif %}
    {% if videoOgg %}
    <source src="{{videoOgg.getUrl()}}" type="video/ogg">
    {% endif %}
  </video>
  {% endif %}
  <div class="masthead__container">
    <div class="masthead__content">
      {% if block.heading %}
      <h1 class="masthead__heading">{{block.heading}}</h1>
      {% endif %}
      {% if block.subheading %}
        <h2 class="masthead__subheading">{{block.subheading|nl2br}}</h2>
      {% endif %}
    </div>
  </div>
</section>
