.masthead {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.masthead__container {
  @include m-outer-container();
  height: auto;
  justify-content: center;
  min-height: auto;
  width: 100%;
  z-index: 1;

  @media (min-width: $medium-screen) {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 520px;
  }
}

.masthead__content {
  padding: 100px 0;
  width: 100%;
}

.masthead--fullscreen .masthead__content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.masthead__image,
.masthead__video {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.masthead__video {
  display: none;

  @media (min-width: $medium-screen) {
    display: block;
  }
}

.masthead__lampshade {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.masthead__subheading {
  color: $white;
  font-size: 34px;
  font-weight: 300;
  line-height: 50px;

  @media (min-width: $medium-screen) {
    font-size: 48px;
    font-weight: 300;
    line-height: 65px;
  }
}

.masthead__heading {
  color: $white;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;

  @media (min-width: $medium-screen) {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
  }
}
